.title_anim{
    transform: translateX(0px);
}

.sohail{
    transition: all 1s;
}

.mohamed{
    transition: all 2s;
}

.project-box:hover .details-box{
    background-color: transparent;
}

.project-box:hover .slider-back{
    width: 100%;
}

.project-box:hover .logo{
    transform: rotateZ(0);
}

.slider-back > div{
    filter: blur(30px);
}

.slider-back, .logo, .details-box{
    transition: all 0.5s;
}
